.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
nav{
	background:transparent;
	height: 50px;
}
#banner{
	background:transparent;
	height: 700px;
}
header{
	background-repeat: raba(0,0,0,0.4)
}
nav ul {
	list-style: none;
	margin: 0px;
	float: right;
}
nav ul li,nav .logo{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
	
}
.logo a{
	text-decoration: none;

}
nav ul li a{
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;

}
nav ul li .logo{
	float: left;
	padding: 20px;
}
#banner .inner {
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 160px;
}
#banner .inner h1{
	margin: 0px;
	color: #fff;

}
button{
	border:none;
	background: rgba(73,123,165,1);
	/*color: #eee;*/
	padding: 14px 40px;
	opacity: 0.95;

	/*border-radius: 0.3;*/
}
#banner button{
	padding:14px 40px;
	border-radius: 6px;
}
#banner .inner .more{
	margin-top: 280px;
}
.sub-heading{
	line-height: 30px;
	margin: 30px;
	color: #fff;
}
.logo{
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 1px;
	padding-left: 15px;
}
.logo a{
	color: #fff;
}
h2{
	font-size: 20px;
	margin:0px;
}
h3{
	font-size: 25px;
}
.hr{
	width: 100%;
	height: 2px;
	margin: 20px auto;
	
}
.gray-section .sub-heading{
	margin: 10px auto;
}
.green-section{
	background-color: #089BD0;
	color: #fff;
	text-align: center;
	padding: 100px 0;
}
.wrapper{
	max-width: 1080px;
	margin: 0 auto;
}
.green-section .hr{
	background: #078494;
	width:60%;
}
.sub-heading{
	font-size: 18px;
}
.green-section .icon-group1 .icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	background-color: #0D6F7C;
	transform:rotate(45deg);
	margin: 20px 
}
.icon-group1{
	margin: 60px;
}
.gray-section .img-section {
	width: 45%;
}
.img-section img{
	width: 100%;
}
.gray-section{
	background: gray;
}
.gray-section .text-section{
	width: 55%;
}
.article-preview  > div{
	float: left;
	font-size: 0px;
}
.article-preview:after{
	content: '';
	display: block;
	clear: both;

}
.text-section{
	position: relative;
	top: 30px;
	left: 20px;
}
.text-section p{
	font-size: 18px;
	letter-spacing: 1px;
}
.text-section h2{
	margin-bottom: 0px;
}
.text-section .sub-heading{
	font-size: 19px;
	margin-top: 0px;
}
.text-section > *{
	max-width: 90%;
}
.article-preview:nth-child(odd){
	background-color: rgba(255,255,255,0.1);
}
.purple-section{
	padding: 80px;
	background: #3F3965;
	color: #fff;
}
.purple-section .sub-heading{
	text-align: center;
}
.purple-section .hr{
	background: #3F3456;
	width: 60%;
}
.purple-section h2{
	text-align: center;
}
.card{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 50px;
	/*border: 1px solid white;*/
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
p{
	font-size: 18px;
	letter-spacing: 1px;
}
.card:first-child{
	background-color: rgba(0,0,0,0.05);
}
.card:nth-child(2){
	background-color: rgba(0,0,0,0.08);
}
.card:nth-child(3){
	background-color: rgba(0,0,0,0.10);
}
.card:nth-child(4){
	background-color: rgba(0,0,0,0.06);
}
footer{
	background: #333;
	color: #fff;
	min-height: 200px;
	text-align: center;
}
ul{
	margin:0px;
}
ul.share-group{
	display: block;
	width: 1080px;
	margin: 0 auto;
	padding: 50px;
}
.share-group li{
	display: inline-block;
	padding: 10px;
}
.share-group a{
	text-decoration: none;
	color:#fff
}
.copy{
	padding: 20px;
}
.main-wrapper{
	background: url(kobe.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
}
.mask{
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	background:rgba(0,0,0,0.5);
}
#sidebar{
	position: fixed;
	top: 0px;
	right: -300px;
	bottom: 0px;
	width: 300px;
	background: #333;
	color: #fff;
	transition:right 0.6s;
}
#sidebar ul{
	list-style: none;
	padding: 0px;
	margin:0px;
}
#sidebar ul a {
	color: #fff;
	padding: 20px 30px;
	display: inline-block;
	text-decoration: none;
	width: 100%
}
#sidebar ul a:hover{
	background: #444;
}


